@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  color: white;

}
.name{
  margin-top:60px;
}
.back{
  margin:0;
  

background-repeat: no-repeat;
background-size: cover;
background-position: center;
min-height: 20vh;
}

.ResaltarNegro
{
    background-color: #000000;
    color: white;
    border-radius: 15px;
    font-size: 30px;
    padding: 5px;
    
}