<app-form-persona
id="persona"
#formPersona
(nuevaPersona)="crear($event)"
>
</app-form-persona>
<div>
  <div class="arPro">
    <div class="child">
      <img  src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1648503444/APLogo-20-20.png" alt="Argentina Programa" height="80px" >
    </div>
    <div class="child">
      <h3>#YoProgramo</h3>
    </div>
  </div>
  <nav 
  class="navbar navbar-expand-xl navbar-dark bg-dark back" 
  style="background-image: url({{persona.portadaImaUrl}});"
  >
    <div class="container-fluid">
      <img src="{{persona.imaUrl}}" class="rounded-circle foto" alt="{{persona.nombre}} {{persona.apellido}}" height="150px" width="150px">
      <div class="low name">
        <a class="navbar-brand ResaltarNegro">{{persona.nombre}} {{persona.apellido}}</a> 
        <div *ngIf="isAdmin">
          <button class="btn btn-outline-warning boton"(click)="editar()">Editar</button>
        </div>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <app-social-lista [social]="persona.social"></app-social-lista>
        <div class="selectores">
        <button class="btn btn-outline-warning selector" (click)="toEstudiosExperiencia()">Estudios/Experiencia</button>
        <button class="btn btn-outline-warning selector"(click)="toHabilidades()">Habilidades</button>
        <button class="btn btn-outline-warning selector" (click)="toSobreMi()">Sobre mi</button>
        <button class="btn btn-outline-warning selector"(click)="toProyectos()">Proyectos</button>
        </div>
      </div>
      <br>
      <div class="collapse navbar-collapse show" id="navbarBasic">
        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
          <li class="nav-item">
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item">
          </li>
        </ul>
        <form class="d-flex">
          <button  *ngIf="!isLogged" class="btn btn-outline-success" style="height:50px; width:120px; border-radius: 30px; font-size:15px" routerLink="">Iniciar Sesión</button>
          <button  *ngIf="isLogged" class="btn btn-outline-danger" style="height:50px; width:120px; border-radius: 30px; font-size:15px" (click)="onLogOut()" type="reset">Cerrar Sesión</button>
        </form>
      </div>
    </div>
    
  </nav>
  
</div>
<div class="container-fluid ">
  <section id="estudios_experiencia">
    <div class="row">
      <div class="col-md-6 contenedor">
        <br>
        <h2 class="titulo">Estudios</h2>
        <app-estudios-list [estudios]="persona.estudios"></app-estudios-list>
      </div>
      <div class="col-md-6 contenedor">
        <br>
        <h2 class="titulo">Experiencia laboral</h2>
  <app-experiencia-list [experiencia]="persona.experiencia"> ></app-experiencia-list>
      </div>
    </div>
  </section>
  <br>

  <section id="habilidades">
    <div class="row">
      <div class="col-md-12 contenedor">
        <br>
        <h2 class="titulo">Habilidades</h2>
  <app-habilidades-list [habilidades]="persona.habilidades"></app-habilidades-list>
      </div>
    </div>
  </section>
  <br>
  <section id="sobremi">
    <div class="row">
      <div class="col-md-12 contenedor">
        <h2 class="titulo">Sobre mi</h2>
  <app-sobremi-list [sobremi]="persona.sobremi"></app-sobremi-list>
      </div>
    </div>
    <br>
  </section>
  <div class="row">
		<div class="col-md-12 contenedor">
      <h4 class="titulo">Proyectos en los que trabaje/trabajo</h4>
  <app-proyectos-list [proyectos]="persona.proyectos"></app-proyectos-list>
</div>
</div>
  <section id="proyectos"></section>
	
