<!-- Footer -->
<footer class="bg-link text-center text-white fixed-bottom">
    <!-- Grid container -->
    <div class="container p-4">


  
  
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(29, 29, 29, 0.2)">
      © 2022 Copyright:
      <a class="text-white">Joaquin Cornelatti</a>
    </div>
    <!-- Copyright -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    
   

  </footer>
  <!-- Footer -->