<form [formGroup]="form" (ngSubmit)="onSubmit($event)"
*ngIf="mostrarFormulario"
>
<div class="mb-3">
    <label class="form-label" for="titulo">Titulo</label>
    <input
    class="form-control DarkInput"
    type="titulo"
    formControlName="titulo"
    id="titulo"
  />
</div>
<div class="mb-3">
    <label class="form-label " for="escuela">Escuela/Institucion</label>
    <input 
    class="form-control DarkInput"
    type="text"
    formControlName="escuela"
    id="escuela"
  />
</div>
<div class="mb-3">
    <label for="nivel">Nivel del titulo</label>
    <select name="OS" 
    class="form-control DarkInput" 
    id ="nivel" 
    formControlName ="nivel">
        <option value="Medio">Medio</option> 
        <option value="Superior">Superior</option>
    </select>
</div>
<div class="mb-3">
    <label for="inicio" >Fecha de inicio</label>
    <input 
    class="form-control DarkInput"
    type="date" 
    id ="inicio" 
    formControlName="inicio"
    >
</div>
<div class="mb-3">
    <label for="final">Fecha de egreso</label>
    <input 
    class="form-control DarkInput"
    type="date" 
    id ="final"
    onchange="console.log(this.value);"
    formControlName="final"
    >  
</div>
<button type="submit" class="btn btn-success">Enviar</button> 
<button type="button" style="margin-left: 5px" class="btn btn-danger "(click)="Cancelar()">Cancelar</button>
</form>