<form [formGroup]="form" (ngSubmit)="onSubmit($event)"
>
<div class="mb-3">
    <label class="form-label" for="titulo">Titulo</label>
    <input
    class="form-control"
    type="titulo"
    formControlName="titulo"
    id="titulo"
  />
</div>
<div class="mb-3">
    <label class="form-label" for="escuela">Escuela</label>
    <input
    class="form-control"
    type="escuela"
    formControlName="escuela"
    id="escuela"
  />
</div>
<div class="mb-3">
    <label for="nivel">Nivel del titulo</label>
    <select name="OS" class="form-control" id ="nivel" name ="nivel">
        <option value="Medio">Medio</option> 
        <option value="Superior">Superior</option>
    </select>
</div>
<div class="mb-3">
    <label for="nivel">Fecha de inicio</label>
    <input 
    class="form-control"
    type="Date" 
    id ="inicio" 
    name="inicio"
    >
    
</div>
<div class="mb-3">
    <label for="nivel">Fecha de inicio</label>
    <input 
    class="form-control"
    type="Date" 
    id ="final" 
    name="final"
    >
    
</div>
<button type="submit" class="btn btn-primary">
    Nueva estudio
  </button>
</form>