<div class="wrapper">
    <br>
    <a class="button" style="text-decoration: none;"href={{social.facebook}} style=" text-decoration: none;">
      <div>
        <div class="icon" style="color:cyan">
           <i class="fab fa-facebook-f" ></i>
        </div>
        <span>
           Facebook</span>

     </div>
       </a>
       <a class="button" style="text-decoration: none;"href={{social.instagram}} style=" text-decoration: none;">
        <div style="color:pink">
          <div class="icon">
             <i class="fab fa-instagram"></i>
          </div>
          <span>Instagram</span>
       </div>
         </a>
         <a class="button" style="text-decoration: none;"href={{social.github}} style=" text-decoration: none;">

          <div>
            <div class="icon" style="color:white">
             <i class='fab fa-github'></i>
            </div>
           <span>GitHub</span>
        </div>

        </a>
        <a class="button" style="text-decoration: none;"href="mailto:{{social.email}}" style=" text-decoration: none;">
          <div >
            <div>
              <div class="icon" style="color:rgb(59, 0, 0)">
                 <i class="fas fa-envelope"></i>
              </div>
             <span>Mail</span>
          </div>
        </div>
        </a>
        <a class="button" style="text-decoration: none;"href={{social.linkedin}} style=" text-decoration: none;">
          <div >
            <div>
              <div class="icon" style="color:cyan">
                <i class='fab fa-linkedin'></i>
              </div>
             <span>Linkedin</span>
          </div>
        </div>
        </a>
        <button class="btn btn-outline-warning boton"(click)="editar()">Editar</button>
       </div>