<div *ngIf="isAdmin">
    <button id="estudios" class="btn btn-success" (click)="toggleFormEstudios()">Nuevo</button>    
</div>

<app-form-estudios

#formEstudios
(nuevoEstudio)="crear($event)"
></app-form-estudios>

<!--estudios medio-->    
<h2 class="subtitulo">Nivel medio</h2>
<div class="child" *ngFor="let estudios of nivel('Medio', estudios)">
<app-estudios 
[estudios]="estudios"
(borrarEstudios)="borrarEstudio($event)"
(editarEstudios)="editarEstudio($event)"
>
</app-estudios>
</div>
<br>
<!--estudios Superior-->
<h2 class="subtitulo">Nivel Superior</h2>
<div class="child" *ngFor="let estudios of nivel('Superior', estudios)">
<app-estudios 
[estudios]="estudios"
(borrarEstudios)="borrarEstudio($event)"
(editarEstudios)="editarEstudio($event)"
>
</app-estudios>
</div>


